NEXT_PUBLIC_SITE_URL=https://card-get-navi.com
MICROCMS_SERVICE_DOMAIN=
MICROCMS_API_KEY=
MICROCMS_PRODUCTS_ENDPOINT=products
MICROCMS_SHOPS_ENDPOINT=shops
MICROCMS_LOTTERIES_ENDPOINT=lotteries
MICROCMS_CAMPAIGNS_ENDPOINT=affiliate-campaigns
